* {
  box-sizing: border-box;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  font-weight: bold;
  font-size: .9em;
  margin-bottom: 1em;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}
