.cardContainer {
  
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 720px) {
    flex-direction: row;
  }

}

.card {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
  width: 100%;

  @media (min-width: 720px) {
    width: 24em;
    align-items: flex-start;
    order: 0;
  }

  h2 {
    margin-bottom: 0;
  }

}

.form {

  display: flex;
  flex-direction: column;
  align-items: center;
  order: 0;
  margin: 0;

  @media (min-width: 720px) {
    order: 1;
    margin: 0 0 0 2em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: .5em;
  }

  p {
    margin-top: 0;
  }

  button {
    font-size: 1.2em;
  }
  
}

.formTip {
  font-size: .8em;
  font-style: italic;
  color: #787878;
}

.learnContainer {
  text-align: center;
}

.attributesContainer {
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  ul {
    padding-left: 1.2em;
  }

  p,
  ul {
    margin-top: 0;
  }

}