@import "@/styles/settings/_settings";

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.card {
  
  display: block;
  width: 24em;
  background-color: #ffe064;
  padding: 1em;
  border-radius: 1em;

  &[data-is-empty="true"] {
    opacity: .5;
  }

}

.cardContent {
  display: block;
  background-color: red;
  padding: 1em;
  border-radius: .25em;
}

.cardHead {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -.5em;
  margin-bottom: .5em;

  & > span {
    display: flex;
    align-items: center;
  }

}

.cardSubType {
  display: block;
  font-size: .8em;
  padding: .3em .6em;
  background-color: white;
  margin-left: -1.8em;
  margin-right: .5em;
}

.cardName {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

.cardHp {
  
  font-size: 1.2em;
  font-weight: bold;

  span {
    font-size: .6em;
    margin-right: .5em;
  }

}

.cardType {
  
  margin-left: .5em;
  margin-right: -.5em;
  
  span {
    transform: scale(1.3);
  }

}

.cardTypeIcon {

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  background-color: black;
  border: solid 2px white;
  border-radius: 1.5em;

  svg {
    width: 50%;
    height: auto;
  }
  
}

.cardImage {

  position: relative;
  overflow: hidden;
  aspect-ratio: 400 / 300;
  border: solid 5px lightgray;
  background-color: lighten(lightgray, 5);

  &[data-is-loading="true"] {
    background: linear-gradient(90deg, #eff1f1 30%, #f7f8f8 50%, #eff1f1 70%);
    background-size: 400%;
    animation: loading 1.2s ease-in-out infinite;
  }

  &,
  img {
    display: block;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

}

.cardAttributes {
  display: block;
  position: relative;
  z-index: 1;
  font-size: .6em;
  text-align: center;
  background-color: white;
  border: solid 4px lightgray;
  padding: .25em;
  margin-top: .5em;
}

.cardPower {
  
  display: block;
  font-size: .7em;
  margin-top: 1em;

  strong {
    font-size: 1.1em;
  }

}

.cardAttack {

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .7em;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding: 1em 0;
  margin: 1em 0;

  strong {
    font-size: 1.1em;
  }

}

.cardAttackHp {
  font-size: 2em;
  font-weight: bold;
  margin-left: 1em;
}

.cardInteractions {
  
  display: flex;
  justify-content: space-between;

  div {
    text-align: center;
  }

}

.cardInteractionTitle {
  font-size: .5em;
  margin-bottom: .8em;
}

.cardWeakness,
.cardResistance,
.cardRetreatCost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardWeaknessIcon,
.cardResistanceIcon,
.cardRetreatCostIcon {
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  font-size: .8em;
  background-color: black;
  border: solid 2px white;
  border-radius: 1.5em;
  margin: 0 .1em;

  svg {
    width: 50%;
    height: auto;
  }

}

.cardRetreatCostIcon {
  background-color: lightgray;
}