$color-blue: #004e98;
$color-blue-gray: #3a6ea5;
$color-gray-medium: #c0c0c0;
$color-gray-dark: #22333b;
$color-gray-light: #ebebeb;
$color-orange: #ff6700;
$color-yellow: #f4d35e;

$color-primary: $color-blue;