@import "@/styles/settings/_settings";

.formInput {

  display: inline-block;
  font-size: 1em;
  padding: 1em 1.4em;
  border: solid 2px $color-gray-medium;
  border-radius: .2em;
  background: white;


  &:hover {
    background: white;
  }

  &::placeholder {
    color: darken($color-gray-medium, 15);
  }

}